<!-- start component navigation -->
<ul class="header__nav__ul">
    <li class="header__nav__ul-li"><a class="header__nav__ul-link" href="#">HOME</a></li>
    <li class="header__nav__ul-li"><a class="header__nav__ul-link" href="#">PAGES</a></li>
    <li class="header__nav__ul-li"><a class="header__nav__ul-link" href="#">EXTRA PAGES</a></li>
    <li class="header__nav__ul-li"><a class="header__nav__ul-link" href="#">BLOG</a></li>
    <li class="header__nav__ul-li"><a class="header__nav__ul-link" href="#">BUY TEMPLATE</a></li>
</ul>
<!-- end component navigation -->
