* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family:  "Roboto",Arial,Helvetica,sans-serif;
}

.header__box {
    display: flex;
    justify-content: space-around;
    background-color: #004DDA;
    color: #F9FBFE;
}

.header__nav__ul {
    list-style: none;
    display: flex;
    font-weight: 700;
}

.header__contacts__link {
    color: #F9FBFE;
    text-decoration: none;
}

.text_link {
    padding-left: 30px;
    font-weight: 900;
}

.header__contacts {
 font-weight: 600;
 padding: 20px 0px 0px 18px;
}

.header__nav__ul-li {
    padding: 30px 18px 25px 18px;
}

.header__nav__ul-link {
    color: #F9FBFE;
    text-decoration: none;
}

.header__img {
    padding: 20px 18px 10px 18px;
}

.header__box-two {
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: #F9FBFE;
    border-bottom: 1px solid #EDEDED;
}

.header__categories {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 14px;
}

.header__categories-menu {
    padding-top: 5px;
    padding-left: 10px;
    color: black;
    font-weight: 900;
}

.fa-bars {
   font-size: 25px;
   color: black;
}

.header__categories-menu:hover {
    color: blue;
}

.header__search {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

}

.search {
    width: 580px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #F2F2F2;
    padding: 15px;
}

.search__img {
    position: absolute;
    top: 20px;
    right: 15px;
}

.pintogram__img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding-left: 10px;
}

.header__pintogram {
    padding-top: 10px;
}



